<launch>
  <arg name="rosbag_option" default="" />
  <arg name="bagfile_names" default="$(find audio_play)/sample/wav.bag" />
  <arg name="output_format" default="wave" />
  <arg name="dst" default="/tmp/tmp.wav" />

  <include file="$(find audio_play)/launch/play_wav.launch">
    <arg name="output_format" value="$(arg output_format)" />
    <arg name="dst" value="$(arg dst)" />
  </include>
  <node name="rosbag_player" pkg="rosbag" type="play"
        args="$(arg rosbag_option) $(arg bagfile_names)"/>
</launch>

