 <launch>
  <arg name="device" default="" />
  <arg name="sleep_time" default="0.7" />
  <arg name="la" default="jp" />

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"
        output="screen" respawn="true" >
    <remap from="sound_play" to="robotsound" />
    <param name="device" value="$(arg device)" />
  </node>

  <include file="$(find voice_text)/launch/voice_text.launch" >
    <arg name="launch_sound_play" value="true"/>
  </include>

  <node name="eus_client_en" pkg="sound_play" type="soundplay-client.l"
        output="screen" >
    <param name="sleep_time" value="0.7" />
    <param name="language" value="en" />
  </node>

  <node name="eus_client_jp" pkg="sound_play" type="soundplay-client.l"
        output="screen" >
    <param name="sleep_time" value="1.1" />
    <param name="language" value="jp" />
  </node>
</launch>
